
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #e4e4e4;
}


h1{
    font-size: 3rem;
        font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #e4e4e4;
}